.timerContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    display: flex;
    gap: 40px;
}
.timerLayout{
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}
.timerCount{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timerCount button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    display: flex;
    opacity: 0.5;
}
.timerCount p{
    font-size: 50px;
    margin: 0px;
}
.timerCount h1{
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}
.verticalLine{
    background-color: #000;
    width: 1px;
}
.buttonSection{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.button{
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
}
.redButton{
    border-color: #fe0000;
}
.redButton:hover{
    background-color: #fe0000;
    color: #fff;
}
.aquaButton{
    border-color: #00d4bd;
}
.aquaButton:hover{
    background-color: #00d4bd;
    color: #fff;
}
.yellowButton{
    border-color: #000;
}
.yellowButton:hover{
    background-color: #000;
    color: #fff;
}