.goBack{
  position: fixed;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.goBack:hover{
  background-color: #00d4bd;
}
@media screen and (max-width:1200px){
  .goBack{
    height: 75px;
    width: 75px;
    font-size: 30px;
  }
}
@media screen and (max-width:768px){
  .goBack{
    height: 50px;
    width: 50px;
    font-size: 26px;
  }
}
